@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 30px auto;
    width: 90vw;
    max-width:1300px;
}

h2 {
    letter-spacing: 1px;
    margin: 0;
    font-size:3rem;
  }


.text-center {
    text-align:center;
    display:block;
    margin:auto;
}

.main-text  {
    font-size:1.8rem;
}

.point-to-note {
    font-style:italic;
    font-size:1.5rem;
}

.list-point-to-note {
    font-size:1.3rem;
}

.list-point-to-note > strong {
    text-decoration:underline;
}

.code-snip {
    background:#242038;
    display:block;
    height:3rem;
    padding:1rem;
    color: #fff;
}

span.class {
    color:rgb(236, 226, 134);
} 

span.prop {
    color:rgb(56, 228, 33);
}

span.comment {
    color: rgb(129, 128, 128);
}
